*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: joseSB;
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}

/* body::-webkit-scrollbar {
    display: none;
} */

@font-face {
    font-family: 'joseR';
    src: url(./Assets/Fonts/JosefinSans-Regular.woff2) format('truetype');
}

@font-face {
    font-family: 'joseL';
    src: url(./Assets/Fonts/JosefinSans-Light.woff2) format('truetype');
}

@font-face {
    font-family: 'joseM';
    src: url(./Assets/Fonts/JosefinSans-Medium.woff2) format('truetype');
}

@font-face {
    font-family: 'joseSB';
    src: url(./Assets/Fonts/JosefinSans-SemiBold.woff2) format('truetype');
}

@font-face {
    font-family: 'nato';
    src: url(./Assets/Fonts/NotoSerifJP-Regular.woff2) format('truetype');
}

.mousefollower{
    scale: 2;
}

/**************************************** MAIN ****************************************/

#main{
    position: relative;
    width: 100vw;
    background: rgb(8,8,8);
    background: linear-gradient(109deg, rgba(8,8,8,1) 0%, rgb(44, 44, 44) 35%, rgba(10,10,10,1) 100%);
}

/**************************************** #PAGE1 ****************************************/


#page1{
    width: 100vw;
    height: 56.25vw;
    padding-top: 1px;
    padding-left: 3vw;
}

.heros{
    display: flex;
}

#hero1{
    margin-top: 18vw;
    /* display: flex; */
}

#hero1 h1, #hero2 h1{
    line-height: 7vw;
    font-size: 13vw;
    font-family: joseM;
}

#hero-down h3{
    font-size: 2vw;
    line-height: 1.5vw;
}

/**************************************** ABOUT ****************************************/

#about{
    width: 100%;
    height: 112.50vw;
    /* background-color: red; */
}

#about-start{
    margin-top: 12vw;
}

.about-start-elem{
    justify-content: center;
    display: flex;
    font-size: 5vw;
}

#about-main{
    margin-top: 38vw;
    padding: 0 5vw;
}

#about-main h4{
    font-size: 2.5vw;
    line-height: 3vw;
}

#about-main h4:nth-child(1){
    margin-bottom: 3vw;
}

/**************************************** PROJECTS ****************************************/

#projects{
    width: 100%;
    height: 200.50vw;
    padding: 5vw;
    position: relative;
    z-index: 9999;
}

#projects #h2{
    margin-top: 16vw;
    display: flex;
}

#projects h2{
    font-size: 4vw;
}

.pros{
    /* background-color: red; */
    /* position: relative; */
    width: 46vw;
    height: 25vw;
    border-radius: 1.5vw;
    /* overflow: hidden; */
    position: absolute;
    box-shadow: 0 0 30px rgb(10, 10, 10);
}

.pros video{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.5vw;
    object-fit: cover; 
    z-index: 90;
}

.pros #h3{
    display: flex;
    position: absolute;
    top: -5vw;
    left: 3vw;
    font-size: 3vw;
    z-index: 80;
}

.pros i{
    top: 8.8vw;
    position: absolute;
    font-size: 5vw;
    padding: 1.5vw  1.7vw;
    background-color: #fff;
    color: black;
    border-radius: 10vw;
}

#pro1{
    top: 57vw;
}

#pro2{
    top: 100vw;
    left: 49vw;
}

#pro3{
    top: 143vw;
}

#pro1 i{
    left: 50vw;
}

#pro2 i{
    left: -12.5vw;
}

#pro3 i{
    left: 50vw;
}

#vist-all{
    position: absolute;
    top: 183vw;
    left: 50vw;
    transform: translateX(-50%);
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    border: 0.077vw solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    font-size: 2vw;
    transition: all ease 0.2s; 
}

#vist-all h4{
    transition: all ease 0.2s; 
    font-size: 2vw;
}

#vist-all i{
    transition: all ease 0.2s; 
    font-size: 4vw;
}

#vist-all:hover{
    background-color: rgb(255, 255, 255);
}

#vist-all:hover h4{
    color: black;
}

#vist-all:hover i{
    color: black;
}

/**************************************** SKILLS ****************************************/

#skills{
    width: 100%;
    height: 150vw;
    position: relative;
}

#skill-head{
    margin-top: 26vw;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
}

#skill-head h1{
    padding: 1vw 1vw 0 1vw;
    border-top: 0.077vw solid #fff;
    border-bottom: 0.077vw solid #fff;
}

#skill-left{
    position: absolute;
    border-radius: 50%;
    border: 0.1vw solid #fff;
    height: 56.25vw;
    width: 56.25vw;
    top: 110vw;
    left: 21%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(255, 0, 0, 0.1); */
    animation-name: rotate3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#skill-right{
    position: absolute;
    border-radius: 50%;
    border: 0.1vw solid #fff;
    height: 56.25vw;
    width: 56.25vw;
    top: 110vw;
    left: 79%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 255, 0.1); */
    animation-name: rotate2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#skill-center{
    position: absolute;
    border-radius: 50%;
    border: 0.1vw solid #fff;
    height: 56.25vw;
    width: 56.25vw;
    top: 60vw;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(255, 255, 0, 0.1); */
    animation-name: rotate1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes rotate1 {
    0%{        
        top: 60vw;
        left: 50%;
    }
    10%{
        top: 110vw;
        left: 79%;
    }
    33.3%{
        top: 110vw;
        left: 79%;
    }
    43.3%{
        top: 110vw;
        left: 21%;
    }
    66.6%{
        top: 110vw;
        left: 21%;
    }
    76.6%{
        top: 60vw;
        left: 50%;
    }
}

@keyframes rotate2 {
    0%{        
        top: 110vw;
        left: 79%;
    }
    10%{
        top: 110vw;
        left: 21%;
    }
    33.3%{
        top: 110vw;
        left: 21%;
    }
    43.3%{
        top: 60vw;
        left: 50%;
    }
    66.6%{
        top: 60vw;
        left: 50%;
    }
    76.6%{
        top: 110vw;
        left: 79%;
    }
}

@keyframes rotate3 {
    0%{        
        top: 110vw;
        left: 21%;
    }
    10%{
        top: 60vw;
        left: 50%;
    }
    33.3%{
        top: 60vw;
        left: 50%;
    }
    43.3%{
        top: 110vw;
        left: 79%;
    }
    66.6%{
        top: 110vw;
        left: 79%;
    }
    76.6%{
        top: 110vw;
        left: 21%;
    }
}

/**************************************** CONTACT ****************************************/

#contact{
    width: 100vw;
    height: 56.25vw;
    padding: 5vw;
    /* background-color: red; */
}

#con{
    width: 90vw;
    height: 46.25vw;
    border: 0.1vw solid #fff;
    display: flex;
    overflow: hidden;
}

#con-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    border-right: 0.1vw solid #fff;
}

#con-left-h1{
    margin-top: 3vw;
    display: flex;
    font-size: 1.1vw;
}

#con-right{
    position: relative;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#con-right-h1{
    margin-top: 3vw;
    display: flex;
    font-size: 1.1vw;
}

#mess-form{
    position: absolute;
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

form{
    /* background-color: blue; */
    width: 100%;
    display: flex;
    gap: 2vw;
    flex-direction: column;
    align-items: center;
}

input, textarea{
    padding: 1vw;
    border-radius: 1vw;
    font-size: 1.3vw;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    border: none;
    box-shadow: 0 0 30px rgb(38, 38, 38);
}

#message{
    height: 13vw;
    resize: none;
    color: #fff;
}

#message::-webkit-scrollbar{
    background-color: transparent;
}

#message::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 1vw;
    cursor: grab;
}

#submit{
    cursor: pointer;
    color: black;
    padding: .9vw 2vw;
    border-radius: 10vw;
    font-size: 1.3vw;
    margin-bottom: 3vw;
    background-color: rgba(255, 255, 255, 0.852);
}

/**************************************** FOOTER ****************************************/

#footer{
    width: 100vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: red; */
}

#footer h2{
    font-size: 1.7vw;
}

#footer span{
    text-decoration: line-through;
    text-decoration-color: rgb(255, 255, 255);
}

/**************************************** OVERLAY - 1 ****************************************/

#overlay-1{
    width: 100vw;
    height: 733.2vw;
    position: absolute;
    top: -58vw;
    /* background-color: green; */
    /* position: relative; */
    z-index: 99999;
    opacity: 0.65;
    mix-blend-mode: difference;
    /* background-color: rgb(79, 51, 51) ; */
    /* display: none; */
}

.brush{
    position: absolute;
    height: 32vw;
    mix-blend-mode: difference;
}

#b12{
    top: 2vw;
    left: 84vw;
    height: 12vw;
}

#b1{
    top: 130vw;
    left: -1vw;
    height: 18vw;
    rotate: -50deg;
}

#b2{
    top: -2vw;
    left: 10vw;
    height: 18vw;
    rotate: -20deg;
}

#b3{
    top: 260vw;
    left: -1vw;
    height: 18vw;
    rotate: -50deg;
}

#b4{
    top: 220vw;
    left: -1vw;
    height: 18vw;
    rotate: -50deg;
}

#b5{
    top: 370vw;
    left: 60vw;
    height: 12vw;
    rotate: -50deg;
}

#b6{
    top: 335vw;
    left: -5vw;
    height: 15vw;
    rotate: -50deg;
}

#b7{
    top: 395vw;
    left: 94vw;
    height: 15vw;
    rotate: -120deg;
}

#b9{
    top: 440vw;
    left: 30vw;
    height: 18vw;
    rotate: 20deg;
}

#b11{
    top: 600vw;
    left: -10.5vw;
    height: 18vw;
    rotate: 20deg;
}

#b13{
    top: 295vw;
    left: 42vw;
    height: 12vw;
    rotate: -50deg;
}

#b14{
    top: 215vw;
    left: 62vw;
    height: 12vw;
    rotate: -50deg;
}

#b0{
    top: 628vw;
    left: 85.5vw;
    height: 38vw;
    rotate: -30deg;
}

.jap{
    position: absolute;
    mix-blend-mode: difference;
    height: 13vw;
}

#na{
    top: 78vw;
    left: -2vw;
    rotate: 30deg;
}

#ku{
    top: 106vw;
    left: 60vw;
    rotate: 30deg;
}

#ru{
    top: 70vw;
    left: 75vw;
    rotate: 20deg;
}

.arrows{
    position: absolute;
    height: 32vw;
    mix-blend-mode: difference;
}

#a7{
    top: 28vw;
    left: -2.5vw;
    height: 32vw;
}

#a6{
    top: 32vw;
    left: 42vw;
    height: 20vw;
}

#a3{
    top: 18vw;
    left: 68vw;
    height: 35vw;
}

#a8{
    top: 103vw;
    left: 14vw;
    height: 22vw;
    rotate: -120deg;
}

#a2{
    left: 5vw;
    top: 55vw;
    height: 18vw;
    rotate: 110deg;
}

#a1{
    top: 43vw;
    left: 68vw;
    height: 23vw;
    rotate: 150deg;
}

#a9{
    top: 130vw;
    left: 70vw;
    height: 33vw;
}

#a10{
    top: 190vw;
    left: 70vw;
    height: 20vw;
    rotate: 160deg;
}

#a5{
    top: 120vw;
    left: 40vw;
    height: 13vw;
    rotate: 180deg;
}

#a4{
    top: 220vw;
    left: 50vw;
    height: 28vw;
    rotate: 150deg;
}

#a11{
    top: 250vw;
    left: 80vw;
    height: 28vw;
    rotate: -90deg;
}

#a12{
    top: 290vw;
    left: 15vw;
    height: 17vw;
    rotate: 40deg;
}

#a13{
    top: 310vw;
    left: 1vw;
    height: 17vw;
    rotate: -90deg;
}

#a14{
    top: 330vw;
    left: 36vw;
    height: 17vw;
    rotate: -40deg;
}

#a15{
    top: 350vw;
    left: 66vw;
    height: 17vw;
    rotate: 40deg;
}

#a16{
    top: 317vw;
    left: 76vw;
    height: 17vw;
    rotate: -40deg;
}

#a17{
    top: 278vw;
    left: 68vw;
    height: 13vw;
    rotate: 40deg;
}

#a18{
    top: 377vw;
    left: 75vw;
    height: 17vw;
    rotate: 10deg;
}

#a19{
    top: 370vw;
    left: 12vw;
    height: 17vw;
    rotate: 150deg;
}

#a20{
    top: 397vw;
    left: 2vw;
    height: 17vw;
    rotate: -100deg;
}

#a21{
    top: 420vw;
    left: 77vw;
    height: 17vw;
    rotate: 220deg;
}

#a22{
    top: 430vw;
    left: 10vw;
    height: 17vw;
    rotate: 70deg;
}

#a23{
    top: 430vw;
    left: 63vw;
    height: 17vw;
    rotate: 70deg;
}

#a23{
    top: 430vw;
    left: 63vw;
    height: 17vw;
    rotate: 70deg;
}

#a24{
    top: 455vw;
    left: 5vw;
    height: 13vw;
    rotate: -70deg;
}


#a25{
    top: 455vw;
    left: 80vw;
    height: 17vw;
    rotate: 170deg;
}

#a26{
    top: 405vw;
    left: 50vw;
    height: 17vw;
    rotate: 170deg;
}

#a27{
    top: 485vw;
    left: 87vw;
    height: 17vw;
    rotate: 170deg;
}

#a28{
    top: 480vw;
    left: -7vw;
    height: 26vw;
    rotate: 120deg;
}

#a29{
    top: 567vw;
    left: -1vw;
    height: 15vw;
    rotate: 120deg;
}

#a33{
    top: 569vw;
    left: 50vw;
    height: 17vw;
    rotate: -40deg;
}

#a31{
    top: 229vw;
    left: 20vw;
    height: 17vw;
    rotate: -40deg;
}

#a32{
    top: 198vw;
    left: 20vw;
    height: 17vw;
    rotate: -40deg;
}

#a34{
    top: -15vw;
    left: 50vw;
    height: 17vw;
    rotate: -40deg;
}

#a35{
    top: 630vw;
    left: 70vw;
    height: 12vw;
    rotate: -40deg;
}

#a36{
    top: 631vw;
    left: -4vw;
    height: 17vw;
    rotate: -40deg;
}

#a37{
    top: 571vw;
    left: 90vw;
    height: 17vw;
    rotate: -130deg;
}