*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: joseSB;
    color: #fff;
}

html, body{
    height: 100%;
    width: 100%;
}

/* body::-webkit-scrollbar {
    display: none;
} */

@font-face {
    font-family: 'joseR';
    src: url(./Assets/Fonts/JosefinSans-Regular.woff2) format('truetype');
}

@font-face {
    font-family: 'joseL';
    src: url(./Assets/Fonts/JosefinSans-Light.woff2) format('truetype');
}

@font-face {
    font-family: 'joseM';
    src: url(./Assets/Fonts/JosefinSans-Medium.woff2) format('truetype');
}

@font-face {
    font-family: 'joseSB';
    src: url(./Assets/Fonts/JosefinSans-SemiBold.woff2) format('truetype');
}

@font-face {
    font-family: 'nato';
    src: url(./Assets/Fonts/NotoSerifJP-Regular.woff2) format('truetype');
}

.mousefollower{
    scale: 2;
    z-index: 5;
}

/**************************************** MAIN ****************************************/

#main{
    position: relative;
    width: 100vw;
    background: rgb(8,8,8);
    background: linear-gradient(109deg, rgb(2, 2, 2) 0%, rgb(20, 20, 20) 35%, rgb(5, 5, 5) 100%);
}

/**************************************** #PAGE1 ****************************************/


#page1{
    width: 100vw;
    height: 56.25vw;
    padding-top: 1px;
    padding-left: 3vw;
}

.heros{
    display: flex;
}

#hero1{
    margin-top: 18vw;
    /* display: flex; */
}

#hero1 h1, #hero2 h1{
    line-height: 7vw;
    font-size: 13vw;
    font-family: joseM;
}

#hero-down h3{
    font-size: 2vw;
    line-height: 1.5vw;
}

/**************************************** ABOUT ****************************************/

#about{
    width: 100%;
    height: 112.50vw;
    /* background-color: red; */
}

#about-start{
    margin-top: 12vw;
}

.about-start-elem{
    justify-content: center;
    display: flex;
    font-size: 5vw;
}

#about-main{
    margin-top: 38vw;
    padding: 0 5vw;
}

#about-main h4{
    font-size: 2.5vw;
    line-height: 3vw;
}

#about-main h4:nth-child(1){
    margin-bottom: 3vw;
}

/**************************************** PROJECTS ****************************************/

#projects{
    width: 100%;
    height: 200.50vw;
    padding: 5vw;
    position: relative;
    z-index: 9999;
}

#projects #h2{
    margin-top: 16vw;
    display: flex;
}

#projects h2{
    font-size: 4vw;
}

.pros{
    /* background-color: red; */
    /* position: relative; */
    width: 46vw;
    height: 25vw;
    border-radius: 1.5vw;
    /* overflow: hidden; */
    position: absolute;
    box-shadow: 0 0 10px rgb(0, 0, 0);
}

.pros video{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 1.5vw;
    object-fit: cover; 
    z-index: 90;
}

.pros #h3{
    display: flex;
    position: absolute;
    top: -5vw;
    left: 3vw;
    font-size: 3vw;
    z-index: 80;
}

.pros i{
    top: 8.8vw;
    position: absolute;
    font-size: 5vw;
    padding: 1.5vw  1.7vw;
    background-color: #fff;
    color: black;
    border-radius: 10vw;
}

#pro1{
    top: 57vw;
}

#pro2{
    top: 100vw;
    left: 49vw;
}

#pro3{
    top: 143vw;
}

#pro1 i{
    left: 50vw;
}

#pro2 i{
    left: -12.5vw;
}

#pro3 i{
    left: 50vw;
}

#vist-all{
    position: absolute;
    top: 183vw;
    left: 50vw;
    transform: translateX(-50%);
    height: 20vw;
    width: 20vw;
    border-radius: 50%;
    border: 0.077vw solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1vw;
    font-size: 2vw;
    transition: all ease 0.2s; 
}

#vist-all h4{
    transition: all ease 0.2s; 
    font-size: 2vw;
}

#vist-all i{
    transition: all ease 0.2s; 
    font-size: 4vw;
}

#vist-all:hover{
    background-color: rgb(255, 255, 255);
}

#vist-all:hover h4{
    color: black;
}

#vist-all:hover i{
    color: black;
}

/**************************************** SKILLS ****************************************/

#skills{
    width: 100%;
    height: 150vw;
    position: relative;
}

#skill-head{
    margin-top: 26vw;
    font-size: 2.5vw;
    display: flex;
    justify-content: center;
}

#skill-head h1{
    padding: 1vw 1vw 0 1vw;
    border-top: 0.077vw solid #fff;
    border-bottom: 0.077vw solid #fff;
}

#skill-left{
    position: absolute;
    border-radius: 50%;
    border: 0.1vw solid #fff;
    height: 56.25vw;
    width: 56.25vw;
    top: 110vw;
    left: 21%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(255, 0, 0, 0.1); */
    animation-name: rotate3;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#skill-right{
    position: absolute;
    border-radius: 50%;
    border: 0.1vw solid #fff;
    height: 56.25vw;
    width: 56.25vw;
    top: 110vw;
    left: 79%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(0, 0, 255, 0.1); */
    animation-name: rotate2;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

#skill-center{
    position: absolute;
    border-radius: 50%;
    border: 0.1vw solid #fff;
    height: 56.25vw;
    width: 56.25vw;
    top: 60vw;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: rgba(255, 255, 0, 0.1); */
    animation-name: rotate1;
    animation-duration: 10s;
    animation-iteration-count: infinite;
}

@keyframes rotate1 {
    0%{        
        top: 60vw;
        left: 50%;
    }
    10%{
        top: 110vw;
        left: 79%;
    }
    33.3%{
        top: 110vw;
        left: 79%;
    }
    43.3%{
        top: 110vw;
        left: 21%;
    }
    66.6%{
        top: 110vw;
        left: 21%;
    }
    76.6%{
        top: 60vw;
        left: 50%;
    }
}

@keyframes rotate2 {
    0%{        
        top: 110vw;
        left: 79%;
    }
    10%{
        top: 110vw;
        left: 21%;
    }
    33.3%{
        top: 110vw;
        left: 21%;
    }
    43.3%{
        top: 60vw;
        left: 50%;
    }
    66.6%{
        top: 60vw;
        left: 50%;
    }
    76.6%{
        top: 110vw;
        left: 79%;
    }
}

@keyframes rotate3 {
    0%{        
        top: 110vw;
        left: 21%;
    }
    10%{
        top: 60vw;
        left: 50%;
    }
    33.3%{
        top: 60vw;
        left: 50%;
    }
    43.3%{
        top: 110vw;
        left: 79%;
    }
    66.6%{
        top: 110vw;
        left: 79%;
    }
    76.6%{
        top: 110vw;
        left: 21%;
    }
}

#skills i{
    font-size: 7vw;
    position: absolute;
}

#skills h3{
    font-size: 2vw;
    position: absolute;
    width: 1vw;
    text-transform: uppercase;
}

#c1{
    top: 12vw;
    left: 12vw;
}

#c2{
    top: 12vw;
    left: 35.5vw;
}

#c3{
    top: 24.5vw;
    left: 35.5vw;
}

#c4{
    top: 24.5vw;
    left: 12vw;
}

#c5{
    top: 37vw;
    left: 12vw;
}

#c6{
    top: 37vw;
    left: 35.5vw;
}

#l1{
    top: 13vw;
    left: 12vw;
}

#l2{
    top: 13vw;
    left: 35.5vw;
}

#l3{
    top: 25vw;
    left: 35.5vw;
}

#l4{
    top: 25vw;
    left: 12vw;
}

#l5{
    top: 39vw;
    left: 13vw;
}

#l6{
    top: 39vw;
    left: 32.2vw;
}

#r1{
    top: 12vw;
    left: 12vw;
}

#r2{
    top: 12vw;
    left: 35.5vw;
}

#r5{
    top: 26vw;
    left: 26vw;
}

#r3{
    top: 37vw;
    left: 12vw;
}

#r4{
    top: 37vw;
    left: 35.5vw;
}

/**************************************** CONTACT ****************************************/

#contact{
    width: 100vw;
    height: 60.5vw;
    padding: 5vw;
    /* background-color: greenyellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

#con{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#con-in-h1{
    display: flex;
    font-size: 1.1vw;
    align-items: center;
    /* background-color: red; */
    z-index: 1;
}

#mess-form{
    z-index: 6;
    /* position: absolute; */
    width: 80%;
    height: 87%;
    border-radius: 1vw;
    /* background-color: red; */
    background-color: rgb(3, 3, 3);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
}

form{
    z-index: 9;
    /* background-color: blue; */
    width: 100%;
    display: flex;
    gap: 2vw;
    flex-direction: column;
    align-items: center;
}

input, textarea{
    z-index: 6;
    padding: 1vw;
    border-radius: 1vw;
    font-size: 1.3vw;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.1);
    outline: none;
    border: none;
}

input:focus, textarea:focus{
    /* outline: 0.011vw solid rgb(98, 98, 98); */
    box-shadow: 0 0 30px rgb(0, 0, 0);
    background-color: rgb(44, 44, 44);
}

#message{
    height: 13vw;
    resize: none;
    color: #fff;
}

#message::-webkit-scrollbar{
    background-color: transparent;
}

#message::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.281);
    border-radius: 1vw;
    cursor: grab;
}

#submit{
    cursor: pointer;
    color: black;
    padding: .9vw 2vw;
    border-radius: 10vw;
    font-size: 1.3vw;
    margin-bottom: 3vw;
    background-color: rgba(255, 255, 255, 0.852);
}

#social{
    display: flex;
    width: 50%;
    background-color: rgb(3, 3, 3);
    font-size: 2.5vw;
    justify-content: space-between;
    align-items: center;
    gap: 2vw;
    border-radius: 1vw;
    padding: 1vw 2vw;
}

#social a{
    text-decoration: none;
    transition: all ease 0.2s;
}

#social a:hover{
    scale: 1.3;
}

input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/**************************************** FOOTER ****************************************/

#footer{
    width: 100vw;
    height: 0vw;
}

/**************************************** OVERLAY - 1 ****************************************/

#overlay-1{
    width: 100vw;
    height: 731.9vw;
    position: absolute;
    top: -58vw;
    /* background-color: green; */
    /* position: relative; */
    z-index: -1;
    opacity: 0.25;
    mix-blend-mode: difference;
    /* background-color: rgb(79, 51, 51); */
    /* display: none; */
}

.brush{
    position: absolute;
    height: 32vw;
    mix-blend-mode: difference;
}

#b12{
    top: 12vw;
    left: 84vw;
    height: 12vw;
}

#b1{
    top: 142vw;
    left: -1vw;
    height: 18vw;
    rotate: -50deg;
}

#b2{
    top: -2vw;
    left: 10vw;
    height: 18vw;
    rotate: -20deg;
}

#b3{
    top: 260vw;
    left: -1vw;
    height: 18vw;
    rotate: -50deg;
}

#b4{
    top: 210vw;
    left: -1vw;
    height: 18vw;
    rotate: -50deg;
}

#b5{
    top: 380vw;
    left: 60vw;
    height: 12vw;
    rotate: -50deg;
}

#b6{
    top: 365vw;
    left: -5vw;
    height: 15vw;
    rotate: -50deg;
}

#b7{
    top: 395vw;
    left: 94vw;
    height: 15vw;
    rotate: -120deg;
}

#b9{
    top: 506vw;
    left: 30vw;
    height: 18vw;
    rotate: 20deg;
}

#b11{
    top: 653vw;
    left: 30.5vw;
    height: 10vw;
    rotate: 20deg;
}

#b13{
    top: 325vw;
    left: 42vw;
    height: 12vw;
    rotate: -50deg;
}

#b14{
    top: 205vw;
    left: 52vw;
    height: 12vw;
    rotate: -50deg;
}

#b0{
    top: 720vw;
    left: 85.5vw;
    height: 38vw;
    rotate: -30deg;
}

.jap{
    position: absolute;
    mix-blend-mode: difference;
    height: 13vw;
}

#na{
    top: 90vw;
    left: -2vw;
    rotate: 30deg;
}

#ku{
    top: 121vw;
    left: 60vw;
    rotate: 30deg;
}

#ru{
    top: 87vw;
    left: 75vw;
    rotate: 20deg;
}

.arrows{
    position: absolute;
    height: 32vw;
    mix-blend-mode: difference;
}

#a7{
    top: 38vw;
    left: -2.5vw;
    height: 32vw;
}

#a6{
    top: 42vw;
    left: 42vw;
    height: 20vw;
}

#a3{
    top: 28vw;
    left: 68vw;
    height: 35vw;
}

#a8{
    top: 116vw;
    left: 14vw;
    height: 22vw;
    rotate: -120deg;
}

#a2{
    left: 5vw;
    top: 65vw;
    height: 18vw;
    rotate: 110deg;
}

#a1{
    top: 53vw;
    left: 68vw;
    height: 23vw;
    rotate: 150deg;
}

#a9{
    top: 140vw;
    left: 70vw;
    height: 33vw;
}

#a10{
    top: 209vw;
    left: 70vw;
    height: 20vw;
    rotate: 160deg;
}

#a5{
    top: 141vw;
    left: 48vw;
    height: 13vw;
    rotate: 180deg;
}

#a4{
    top: 240vw;
    left: 50vw;
    height: 28vw;
    rotate: 150deg;
}

#a11{
    top: 260vw;
    left: 80vw;
    height: 28vw;
    rotate: -90deg;
}

#a12{
    top: 305vw;
    left: 15vw;
    height: 17vw;
    rotate: 40deg;
}

#a13{
    top: 343vw;
    left: 1vw;
    height: 17vw;
    rotate: -90deg;
}

#a14{
    top: 340vw;
    left: 36vw;
    height: 17vw;
    rotate: -40deg;
}

#a15{
    top: 360vw;
    left: 66vw;
    height: 17vw;
    rotate: 40deg;
}

#a16{
    top: 324vw;
    left: 76vw;
    height: 17vw;
    rotate: -40deg;
}

#a17{
    top: 298vw;
    left: 68vw;
    height: 13vw;
    rotate: 40deg;
}

#a18{
    top: 387vw;
    left: 75vw;
    height: 17vw;
    rotate: 10deg;
}

#a19{
    top: 374vw;
    left: 32vw;
    height: 17vw;
    rotate: 150deg;
}

#a20{
    top: 407vw;
    left: 2vw;
    height: 17vw;
    rotate: -100deg;
}

#a21{
    top: 426vw;
    left: 77vw;
    height: 17vw;
    rotate: 220deg;
}

#a22{
    top: 455vw;
    left: 10vw;
    height: 17vw;
    rotate: 70deg;
}

#a23{
    top: 440vw;
    left: 63vw;
    height: 17vw;
    rotate: 70deg;
}

#a23{
    top: 466vw;
    left: 63vw;
    height: 17vw;
    rotate: 70deg;
}

#a24{
    top: 495vw;
    left: 5vw;
    height: 13vw;
    rotate: -70deg;
}


#a25{
    top: 505vw;
    left: 80vw;
    height: 17vw;
    rotate: 170deg;
}

#a26{
    top: 415vw;
    left: 45vw;
    height: 17vw;
    rotate: 170deg;
}

#a27{
    top: 545vw;
    left: 87vw;
    height: 17vw;
    rotate: 170deg;
}

#a28{
    top: 540vw;
    left: -7vw;
    height: 26vw;
    rotate: 120deg;
}

#a29{
    top: 657vw;
    left: -1vw;
    height: 15vw;
    rotate: 120deg;
}

#a33{
    top: 659vw;
    left: 60vw;
    height: 17vw;
    rotate: -40deg;
}

#a31{
    top: 249vw;
    left: 28vw;
    height: 12vw;
    rotate: -40deg;
}

#a32{
    top: 219vw;
    left: 30vw;
    height: 10vw;
    rotate: -40deg;
}

#a34{
    top: -15vw;
    left: 50vw;
    height: 17vw;
    rotate: -40deg;
}

#a35{
    top: 725vw;
    left: 20vw;
    height: 12vw;
    rotate: -40deg;
}

#a36{
    top: 700vw;
    left: -4vw;
    height: 17vw;
    rotate: -40deg;
}

#a37{
    top: 681vw;
    left: 90vw;
    height: 17vw;
    rotate: -130deg;
}